doctype html
html(lang='\"en\"')
  head
    title Jooby API tools
  body
    h1 Jooby API tools demo
    ul
      li
        | Location API with :
        a(href='/raml') raml
      li
        | Location API with :
        a(href='/swagger') swagger
      li
        a(href='/sys/metrics') metrics
      li
        a(href='/heatmap') Realtime Heatmap
    p
      | More at
      a(href='http://jooby.org/doc/spec')
        | http://jooby.org/doc/spec
