doctype html
html
  head
    title Login Page
    script(type='text/javascript').
      function submitForm() {
      document.form.submit();
      }
      function onKeyPressEvent(event) {
      var key = event.keyCode || event.which;
      if (key === 13) {
      if (event.preventDefault) {
      event.preventDefault();
      } else {
      event.returnValue = false;
      }
      submitForm('');
      return false;
      }
      }
  body(onload='document.form.username.focus();')
    h3 Login
    p(style='color: red;')
    form(name='form', action='/home', method='POST')
      input(name='username', onkeypress='onKeyPressEvent(event)', value='')
      p
      input(type='password', name='password', onkeypress='onKeyPressEvent(event)')
      p
      input(type='submit', value='Submit')
